<settings>
  <mirrors>
    <mirror>
      <id>jboss-nonssl</id>
      <url>http://repository.jboss.org/nexus/content/groups/public/</url>
      <mirrorOf>jboss</mirrorOf>
      </mirror>
    <mirror>
      <id>aduna-to-central</id>
      <url>http://repo1.maven.org/</url>
      <mirrorOf>aduna</mirrorOf>
      </mirror>

    </mirrors>
</settings>
