body {
	font-family: "Verdana", "Arial", "Helvetica", sans-serif;
	font-size: 1em;
	display: block;
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #FFFFFF;
	background-attachment: fixed;
	background-image: -moz-linear-gradient(center top, #CCCCCC 0%, #FFFFFF 100%);
}
.page

.navigation:before {
	display: block;
	text-align: center;
	white-space: pre;
	content: "Navigation"
}

.navigation {
	list-style: none;
	border-style: solid;
	border-width: 1px;
	padding: 10px;
	margin: 10px;
	list-style: none;
	background-color: #ffffff;
	display: block;
	width: 158px;
	float: left;
}

.collection {
	padding-left: 0px;
}

.navigation a {
	text-decoration: none;
}

.logo {
	background-color: white;
	margin-bottom: 20;
	padding-top: 0;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #FFFFFF;
	background-image: none;
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto auto;
	height:105px;
}




.footer {
	border-style: solid;
	border-width: 1px;
	background-color: white;
}

.footer td {
	background-color: yellow;
	width: 64px;
}

#resultList {
	border-style: solid;
	border-width: 0px;
	list-style: none;
	background-color: #ffffff;
	box-shadow: 5px 5px 7px #999999; //
	border-radius: 15px;
	padding: 30px;
	width:800px;

	margin-left:auto; margin-right:auto;
}
#hitsDiv
{
	width:800px;
	margin-left:auto; margin-right:auto;
}
#resultList li {
	padding: 10px;
	margin: 20px;
}

a:link {
	text-decoration: underline;
	color: #871D33;
}

a:visited {
	text-decoration: none;
	color: #FD9830; /*	color: #B87630;*/
}

#resultList a:hover {
	text-decoration: none;
}

#resultList a:active {
	text-decoration: none;
}

.searchform {
	padding-top:20px;
	width:800px;
	margin-left:auto; margin-right:auto;
}

#queryDiv {
	white-space: pre-wrap;
	font-family: monospace;
	font-size: 1em;
}

#debugDiv {
	white-space: pre;
	font-family: monospace;
	font-size: 0.9em; //
	visibility: hidden;
}

#queryForm {
	visibility: hidden;
}

.metadata {
	white-space: pre-wrap;
	font-family: monospace;
	font-size: 0.8em;
}

.links {
	white-space: pre;
	font-family: monospace;
	font-size: 0.8em;
}

.plabel {
	vertical-align: text-top;
	font-size: 0.9em;
}
table
{
    float:left;
}  
table tr td {
	font-size: 0.9em;

}

table tr td a {
	display: block;
	color: black;
	font-size: 0.9em;
}

td {
	padding-right: 20;
}

.tablelabel {
	font-size: 1.em;
	font-weight: bold;
}

.highlight {
	background-color: yellow
}

#links {
	border-style: solid;
	border-width: 0px;
	padding: 30px;
	list-style: none;
	background-color: #ffffff;
	box-shadow: 5px 5px 7px #999999; //
	border-radius: 15px;
	background-color: white;
}

#tabs {
	border-style: solid;
	border-width: 0px;
	padding: 30px;
	list-style: none;
	background-color: #ffffff;
	box-shadow: 5px 5px 7px #999999; //
	border-radius: 15px;
	width:800px;
	height:2048px;
	margin-left:auto; margin-right:auto;
}

#list {
	border-style: solid;
	border-width: 0px;
	padding: 30px;
	list-style: none;
	background-color: #ffffff;
	box-shadow: 5px 5px 7px #999999; //
	border-radius: 15px;
}

#tabheader {
	position: absolute;
	top: 40;
	right: 40;
}

#regal {
	margin-left: 50%;
	margin-right: 50%;
}
