<configuration scan="true" scanPeriod="15 seconds">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
     <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern> %level %date{HH:mm:ss} \(%logger:%L\) - %msg%n</Pattern>
    </layout>
  </appender>
 
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
